<!-- Module 1 project template (static content). -->
{% extends "base.html" %}

{% block title %}Module 1 Project{% endblock %}

{% block content %}
<h1>Module 1 Project</h1>
<h2>Flask Portfolio Website</h2>
<p>
    In this assignment, I built my personal portfolio website using Flask. 
    It showcases my projects, biography, and technical skills.
</p>
<p>View the project on GitHub:
<a href="https://github.com/BI0-ISO/jhu_software_concepts" target="_blank" class="github-link">
https://github.com/BI0-ISO/jhu_software_concepts
</a></p>
{% endblock %}
