{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-layout">

    <div class="home-text">
        <h1>Your Name</h1>
        <h2>Your Position / Title</h2>

        <p>
            Write your bio here. Explain who you are, what you study or work on,
            and what you’re passionate about.
        </p>
    </div>

    <div class="home-image">
        <img src="{{ url_for('static', filename='images/Module_1_Heart.jpg') }}" alt="Profile picture">
    </div>

</div>
{% endblock %}
